<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plant_main</title>
  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/6a99101cff.js" crossorigin="anonymous"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Jquery cookie js 등 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
  <nav>
    <div class="contain">
      <div class="logo">
        <img src="../static/img/plant_icon3.png" alt="logo">
        <span class="logo_span">PLANT<br>DIARY</span>
      </div>
      <div class="user_box">
        <a class="user" href="#" ><!--<sapn class="nav_userid"></sapn>--></a>
        <span class="logout" onclick="logout()">로그아웃</span>
      </div>
    </div>
  </nav>

  <section class="main">
    <div class="main_bg">
      <img src="../static/img/bg7.jpg" alt="bg1">
      <div class="main_box" >
        <h2 class="main_title">PLANT_DIARY</h2>
        <button class="main_login_btn" onclick="enter()">둘러보기</button>
      </div>
      
      <div class="login_box hidden " id="user_login" >
        <div class="input_box">
          <h3 class="login_title">로그인</h3>
          <p class="userid">아 이 디 :
            <input class="input_userid" type="text" placeholder="아이디를 입력하세요"></p>
          <p class="userpw">비밀번호 :
            <input class="input_userpw" type="password" placeholder="비밀번호를 입력하세요"></p>
          <button class="login_btn" onclick="login()">로그인</button>
          <a class="move_func" onclick="regist_move()">회원이 아니신가요? 회원가입 하러가기</a>
        </div>
      </div>

      <div class="login_box hidden" id="user_regist" >
        <div class="input_box">
          <h3 class="login_title">회원가입</h3>
          <p class="userid">아이디 : <span class="option op_id">아이디는 4-12자 이내로 작성해주세요</span>
            <input class="input_userid" type="text" placeholder="아이디를 입력하세요"></p>
          <button class="userid_dup" onclick="userid_dup()">중복확인</button>

          <p class="userpw">비밀번호 : <br><span class="option op_pw">영문과 숫자 조합의 8-20자 이내의 비밀번호를 설정해주세요</span>
            <input class="input_userpw" type="password" placeholder="비밀번호를 입력하세요"></p>

          <p class="userpw_re">비밀번호 확인 : <span class="option op_pw_re">비밀번호를 다시 한 번 입력해주세요</span>
            <input class="input_userpw_re"  type="password" placeholder="비밀번호 재입력"></p>
          <button class="regist_btn" onclick="regist()">회원가입</button>
          <a class="move_func" onclick="login_move()">회원이신가요? 로그인 하러가기</a>
        </div>
      </div>


      <div class="welcome ">
        <div class="welcome_box">
          <h3 class="welcome_title">환영합니다<!--<span class="welcome_userid">--></h3>
          <div class="welcome_link">
            <a href="{{url_for('myplant')}}"><p class="my_plant">MY 식물</p></a>
            <a href="#"><p class="search_plant">식물찾기</p></a>
          </div>
        </div>
      </div>

    </div>
  </section>
  <script src="../static/js/main.js"></script>
</body>
</html>